@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

.post-content {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.post-content .pl-c {
  color: #6a737d;
}

.post-content .pl-c1,
.post-content .pl-s .pl-v {
  color: #005cc5;
}

.post-content .pl-e,
.post-content .pl-en {
  color: #6f42c1;
}

.post-content .pl-smi,
.post-content .pl-s .pl-s1 {
  color: #24292e;
}

.post-content .pl-ent {
  color: #22863a;
}

.post-content .pl-k {
  color: #d73a49;
}

.post-content .pl-s,
.post-content .pl-pds,
.post-content .pl-s .pl-pse .pl-s1,
.post-content .pl-sr,
.post-content .pl-sr .pl-cce,
.post-content .pl-sr .pl-sre,
.post-content .pl-sr .pl-sra {
  color: #032f62;
}

.post-content .pl-v,
.post-content .pl-smw {
  color: #e36209;
}

.post-content .pl-bu {
  color: #b31d28;
}

.post-content .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

.post-content .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.post-content .pl-c2::before {
  content: "^M";
}

.post-content .pl-sr .pl-cce {
  font-weight: bold;
  color: #22863a;
}

.post-content .pl-ml {
  color: #735c0f;
}

.post-content .pl-mh,
.post-content .pl-mh .pl-en,
.post-content .pl-ms {
  font-weight: bold;
  color: #005cc5;
}

.post-content .pl-mi {
  font-style: italic;
  color: #24292e;
}

.post-content .pl-mb {
  font-weight: bold;
  color: #24292e;
}

.post-content .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.post-content .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.post-content .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.post-content .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

.post-content .pl-mdr {
  font-weight: bold;
  color: #6f42c1;
}

.post-content .pl-ba {
  color: #586069;
}

.post-content .pl-sg {
  color: #959da5;
}

.post-content .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

.post-content .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.post-content a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.post-content a:active,
.post-content a:hover {
  outline-width: 0;
}

.post-content strong {
  font-weight: inherit;
}

.post-content strong {
  font-weight: bolder;
}

.post-content h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.post-content img {
  border-style: none;
}

.post-content svg:not(:root) {
  overflow: hidden;
}

.post-content code,
.post-content kbd,
.post-content pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.post-content hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.post-content input {
  font: inherit;
  margin: 0;
}

.post-content input {
  overflow: visible;
}

.post-content [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.post-content * {
  box-sizing: border-box;
}

.post-content input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.post-content a {
  color: #0366d6;
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content strong {
  font-weight: 600;
}

.post-content hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.post-content hr::before {
  display: table;
  content: "";
}

.post-content hr::after {
  display: table;
  clear: both;
  content: "";
}

.post-content table {
  border-spacing: 0;
  border-collapse: collapse;
}

.post-content td,
.post-content th {
  padding: 0;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.post-content h1 {
  font-size: 32px;
  font-weight: 600;
}

.post-content h2 {
  font-size: 24px;
  font-weight: 600;
}

.post-content h3 {
  font-size: 20px;
  font-weight: 600;
}

.post-content h4 {
  font-size: 16px;
  font-weight: 600;
}

.post-content h5 {
  font-size: 14px;
  font-weight: 600;
}

.post-content h6 {
  font-size: 12px;
  font-weight: 600;
}

.post-content p {
  margin-top: 0;
  margin-bottom: 10px;
}

.post-content blockquote {
  margin: 0;
}

.post-content ul,
.post-content ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.post-content ol ol,
.post-content ul ol {
  list-style-type: lower-roman;
}

.post-content ul ul ol,
.post-content ul ol ol,
.post-content ol ul ol,
.post-content ol ol ol {
  list-style-type: lower-alpha;
}

.post-content dd {
  margin-left: 0;
}

.post-content code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.post-content pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.post-content .octicon {
  vertical-align: text-bottom;
}

.post-content .pl-0 {
  padding-left: 0 !important;
}

.post-content .pl-1 {
  padding-left: 4px !important;
}

.post-content .pl-2 {
  padding-left: 8px !important;
}

.post-content .pl-3 {
  padding-left: 16px !important;
}

.post-content .pl-4 {
  padding-left: 24px !important;
}

.post-content .pl-5 {
  padding-left: 32px !important;
}

.post-content .pl-6 {
  padding-left: 40px !important;
}

.post-content::before {
  display: table;
  content: "";
}

.post-content::after {
  display: table;
  clear: both;
  content: "";
}

.post-content>*:first-child {
  margin-top: 0 !important;
}

.post-content>*:last-child {
  margin-bottom: 0 !important;
}

.post-content a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.post-content .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.post-content .anchor:focus {
  outline: none;
}

.post-content p,
.post-content blockquote,
.post-content ul,
.post-content ol,
.post-content dl,
.post-content table,
.post-content pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.post-content hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.post-content blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.post-content blockquote>:first-child {
  margin-top: 0;
}

.post-content blockquote>:last-child {
  margin-bottom: 0;
}

.post-content kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.post-content h1 .octicon-link,
.post-content h2 .octicon-link,
.post-content h3 .octicon-link,
.post-content h4 .octicon-link,
.post-content h5 .octicon-link,
.post-content h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.post-content h1:hover .anchor,
.post-content h2:hover .anchor,
.post-content h3:hover .anchor,
.post-content h4:hover .anchor,
.post-content h5:hover .anchor,
.post-content h6:hover .anchor {
  text-decoration: none;
}

.post-content h1:hover .anchor .octicon-link,
.post-content h2:hover .anchor .octicon-link,
.post-content h3:hover .anchor .octicon-link,
.post-content h4:hover .anchor .octicon-link,
.post-content h5:hover .anchor .octicon-link,
.post-content h6:hover .anchor .octicon-link {
  visibility: visible;
}

.post-content h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.post-content h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.post-content h3 {
  font-size: 1.25em;
}

.post-content h4 {
  font-size: 1em;
}

.post-content h5 {
  font-size: 0.875em;
}

.post-content h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.post-content ul,
.post-content ol {
  padding-left: 2em;
}

.post-content ul ul,
.post-content ul ol,
.post-content ol ol,
.post-content ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.post-content li>p {
  margin-top: 16px;
}

.post-content li+li {
  margin-top: 0.25em;
}

.post-content dl {
  padding: 0;
}

.post-content dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.post-content dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.post-content table {
  display: block;
  width: 100%;
  overflow: auto;
}

.post-content table th {
  font-weight: 600;
}

.post-content table th,
.post-content table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.post-content table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.post-content table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.post-content img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.post-content code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.post-content code::before,
.post-content code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.post-content pre {
  word-wrap: normal;
}

.post-content pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.post-content .highlight {
  margin-bottom: 16px;
}

.post-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.post-content .highlight pre,
.post-content pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.post-content pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.post-content pre code::before,
.post-content pre code::after {
  content: normal;
}

.post-content .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.post-content kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

.post-content :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.post-content .task-list-item {
  list-style-type: none;
}

.post-content .task-list-item+.task-list-item {
  margin-top: 3px;
}

.post-content .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.post-content hr {
  border-bottom-color: #eee;
}
