---
layout: default
---

<div class="home">
    <p class="page-description">
        Proofdict is a opinionated dictionary.
    </p>
    <ul>
        <li>textlint: <a href="https://github.com/proofdict/textlint-rule-proofdict">textlint-rule-proofdict</a></li>
        <li>Add New item: <a href="https://proofdict.github.io/editor/">Proofdict editor</a></li>
    </ul>
    <h1 class="page-heading">Items</h1>

    {{ content }}

    <div class="post-list">
        {% for post in site.posts %}
        <div class="post-list-item">
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            <p class="post-item-tags">Tags:
                {% for tag in post.tags %}
                <span class="post-item-tag"><a href="{{ site.baseurl }}/tag/{{ tag }}"><code>{{ tag }}</code></a></span>
                {% endfor %}
            </p>
            <div class="post-content">
                <p>{{post.description}}</p>
                {% if post.specs.size > 0 %}
                <table>
                    <tr>
                        <th>
                            Before
                        </th>
                        <th>
                            After
                        </th>
                    </tr>
                    {% for spec in post.specs %}
                    <tr>
                        <td>{{spec.from}}</td>
                        <td>{{spec.to}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
