.DictTesterContainer-headerGrid {
    border-bottom: 1px solid #ddd;
}

.DictTesterContainer-inputOutputGrid {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.DictTesterContainer-inputCell,
.DictTesterContainer-outputCell {
    vertical-align: middle;
}

.DictTesterContainer-expected {
    margin: 0;
    padding: 0;
    height: 32px;
}

.DictTesterContainer-inputCell {
    position: relative;
}

.DictTesterContainer-inputCell::after {
    content: "";
    position: absolute;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #3498db;
    right: -16px;
    top: 0;
    z-index: 1;
}